/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
#container {
   width : 300px;
   height: 300px;
   background-color: white;
}

.shape {
    position: relative !important;
    width : 40px;
    height: 40px;
    background-color: white;
}
 .lvl-over {
    border: 2px dashed black !important;
  }
 
  .lvl-target {
    background-color: #ddd; 
    opacity: .5;
  }
 
  [draggable] {
    cursor: move;
  }