﻿<div ng-controller="GroupCrtl">
    
    <div class="todo">

     <table>
         <thead>
             <tr>
                 <td style="width:10%;"></td>
                 <td style="width:10%;">Group</td>
                 <td style="width:50%;"> Description</td>
                 <td style="width:10px;">User</td>
             </tr>
         </thead>
         <tbody >
            
             <tr ng-repeat="abc in groups">
                 <td></td>
                 <td>{{abc.groupname}}</td>
                 <td>{{abc.description}}</td>
                 <td role="{{abc.groupid}}" contextmenu="{{abc.groupname}}" x-lvl-drop-target='true' x-on-drop="dropped(dragEl, dropEl)">
                     <span ng-repeat="xyz in abc.lists">
                     <span ng-repeat="aa in xyz.people">
                         {{aa.name}},
                     </span>
                     </span>
                 </td>
             </tr>
         </tbody>
     </table>

    </div>
</div>