﻿<div ng-controller="GroupCrtl">
   
    <!--<div class="todo" ng-repeat="abc in groups">-->

        <!--<h1>{{abc.groupname}}</h1>-->
         <zm-profile-groups-group-list-item group="vm.groups"></zm-profile-groups-group-list-item>
    <!--</div>-->
</div>