#profile {

  .add-file-button {

    background-color: #EC407A !important;

    &:active, &:focus, &:hover {
      background-color: #4CAF50 !important;

    }
  }

  .header {
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    background: url("/assets/images/backgrounds/header-bg.png") 0 45% no-repeat;
    background-size: cover;
    background-color: rgb(3,155,229);

    .profile-image {
      margin-right: 24px;
    }

    md-icon.changepic {
      margin-top: 70px;
      margin-right: 30px;
      color: white;
      font-size: 36px;
    }

    .name {
      font-size: 34px;
      color: #FFFFFF;
    }

    .actions {

      .md-button {
        text-transform: none;
        padding: 0 16px;
        height: 32px;
        line-height: 32px;
        margin: 0 0 0 8px;
      }
    }

  }

  .content {

    md-content {
      background-color: transparent;
    }
  }

  // Profile boxes
  .profile-box {
    margin-bottom: 16px;

    header {
      padding: 16px;

      .title {
        font-size: 17px;
      }

      .more {
        cursor: pointer;
      }
    }

    .content {
      padding: 16px!important;
      background-color: #FFF;

      &.profiledata {
        padding: 0 24px 24px 30px;
      }
    }

    footer {
      padding: 8px;
      border-top: 1px solid rgba(0, 0, 0, 0.08);
      background-color: rgba(0, 0, 0, 0.06);
    }

    &.info-box {

      .info-line {
        padding-top: 20px;

        md-input-container {

          .md-input {
            color: rgb(3, 155, 229);
          }

        }

        .title {
          font-size: 12px;
          font-weight: 500;
          padding-bottom: 4px;
          color: #B5B5B5;
          display: inline-table;
          width: 150px;

        }

        .info {
          font-size: 15px;
          line-height: 30px;
          display: inline-table;

        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// RESPONSIVE
/*@media screen and (max-width: $layout-breakpoint-sm) {*/

  #profile {

    .header {

      .profile-image {
        margin: 0 0 16px 0;
      }

      .name {
        margin-bottom: 32px;
      }
    }
  }

//}
